@model Domain.Shop.Dto.Products.ProductViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@{ ViewData["Title"] = "Product Detail";
    Layout = "LayoutKH2"; }
@section Styles{
    <link href="~/Test/js/lightslider/lightslider.css" rel="stylesheet">
    <link href="~/Test/js/slick-slider/slick.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Test/js/quickview/magnific-popup.css">
}
<div class="product-detail-top">
    <div class="container">
        <div class="clearfix box">
            <div class="product-slider-box clearfix">
                @if (Model.DisplayImages != null && Model.DisplayImages.Count > 0)
                {
    <div class="main-slider-box">
        <div class="product-detail-slider popup-gallery">
            @foreach (var item in Model.DisplayImages)
            {
<div class="item-slider">
    <a href="~/imageUpload/@item">
        <img id="zoom_05" data-zoom-image="~/imageUpload/@item" src="~/imageUpload/@item">
    </a>
</div>}
        </div>
    </div>
                    <div class="gallery-box">
                        <div class="product-detail-slider-gallery">
                            @for (int i = 1; i < Model.DisplayImages.Count; i++)
                            {
            <div class="gallery-item">
                <img src="~/imageUpload/@Model.DisplayImages[i]">
            </div>}
                        </div>
                    </div>}
            </div>
            <div class="product-infomation">
                <div class="product-box">
                    <h1 class="product-name">@Model.CategoryName</h1>
                    <div class="review-box">
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                        <a href="#reviews" data-toggle="scroll" class="smooth reviews-button"> 1 Reviews</a>
                        <a href="#reviews" data-toggle="scroll" class="smooth add-reviews">Add Your Rivew</a>
                    </div>
                    <div class="price">
                        @Model.PriceAfter.GetValueOrDefault().ToString("N0") VNĐ
                    </div>
                    <div class="product-desc-box">
                        <h4 class="product-desc-title">Chất liệu</h4>
                        <p class="product-desc">@Model.MaterialName</p>
                    </div>
                    <div class="product-desc-box">
                        <h4 class="product-desc-title">Loại sản phẩm</h4>
                        <p class="product-desc">@Model.ProductTypeName</p>
                    </div>
                    <div class="product-desc-box">
                        <h4 class="product-desc-title">Danh mục sản phẩm</h4>
                        <p class="product-desc">@Model.CategoryName</p>
                    </div>
                    <div class="option-group">
                        <div class="quantity-control-box">
                            <label>Qty:</label>
                            <input type="text" name="" class="input-quantity only-number" value="1">
                            <span class="quantity-control-btn quantity-add">+</span>
                            <span class="quantity-control-btn quantity-minus">-</span>
                        </div>
                        <div class="button-group">
                            <button style="padding: 0px;" class="add-to-cart detail smooth" data-count="@Model.BasketCount" data-id="@Model.Id">
                                ADD TO CART
                            </button>
                            <input id="txt_name" type="hidden" value="69">
                        </div>
                    </div>
                    <div class="share-box">
                        <h5 class="share-title">SHARE THIS PRODUCT</h5>
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                        @*<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 60px; height: 20px; margin-bottom: 8px; margin-left: 4px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2e9f365dae390394eb8d923cba8c5b11.vi.html#dnt=false&amp;id=twitter-widget-1&amp;lang=vi&amp;original_referer=https%3A%2F%2Fweb5s.info%2Fdemo%2Fbangtanha%2Fgioi-thieu-bang-flipchart-a-model-tan-ha&amp;size=m&amp;text=Gi%E1%BB%9Bi%20thi%E1%BB%87u%20b%E1%BA%A3ng%20Flipchart%20A%20Model%20T%C3%A2n%20H%C3%A0&amp;time=1557474728906&amp;type=share&amp;url=https%3A%2F%2Fweb5s.info%2Fdemo%2Fbangtanha%2Fgioi-thieu-bang-flipchart-a-model-tan-ha" data-url="https://web5s.info/demo/bangtanha/gioi-thieu-bang-flipchart-a-model-tan-ha"></iframe>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-product">
    <div class="container">
        <div class="content-product-tab clearfix">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#description" class="smooth">Mô tả</a></li>
                <li><a data-toggle="tab" href="#reviews" class="smooth">Đánh giá</a></li>
                <li><a data-toggle="tab" href="#product-tags" class="smooth">Tags</a></li>
                <li><a data-toggle="tab" href="#custom-tabs" class="smooth">Khuyến mãi</a></li>
            </ul>

            <div class="tab-content">
                <div id="description" class="tab-pane fade in active">
                    <p>@Model.Description</p>
                </div>
                <div id="reviews" class="tab-pane fade">
                    <form class="reviews-form">
                        <input type="hidden" id="txtid" value="@Model.Id"/>
                        <h4 class="form-title">Write A Review</h4>
                        <div class="form-group">
                            <label>Tên</label>
                            <input style="font-size: 14px;" id="txt_review_name" type="text" name="" placeholder="Tên của bạn" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Đánh giá</label>
                            <textarea style="font-size: 14px;" id="txt_review_text" placeholder="Đánh giá của bạn"></textarea>
                        </div>
                        <button type="button" id="btnReview" class="smooth hv-border-inline">CONTINUTE</button>
                    </form>
                </div>
                <div id="product-tags" class="tags-tab tab-pane fade">
                    <a href="#" class="smooth active tag" title="">fashion </a>
                    <a href="#" class="smooth tag" title="">gift </a>
                    <a href="#" class="smooth tag" title="">shoes </a>
                    <a href="#" class="smooth tag" title="">woman </a>
                    <a href="#" class="smooth tag" title="">electric </a>
                    <a href="#" class="smooth tag" title="">cameras </a>
                    <a href="#" class="smooth tag" title="">cakes </a>
                    <a href="#" class="smooth tag" title="">birthday </a>
                    <a href="#" class="smooth tag" title="">annivaersary </a>
                    <a href="#" class="smooth tag view-all" title="">View all Tags <i class="fa fa-caret-right"></i></a>
                </div>
                <div id="custom-tabs" class="tab-pane fade">
                    <p>
                        Giảm giá : @Model.Discount %
                    </p>
                    @if (Model.ExtraDiscount.GetValueOrDefault() != 0)
                    {
        <p>
            Giảm giá thêm trong mùa: @Model.ExtraDiscount %
        </p>}
                    @{ double tongcong = Model.Discount.GetValueOrDefault() + Model.ExtraDiscount.GetValueOrDefault(); }
                    <p>
                        Tổng cộng mức giảm giá : @tongcong % so với mức giá sản phẩm ban đầu: @Model.Price.GetValueOrDefault().ToString("N0") VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RELEATED PRODUCTS -->
<div class="featured-products releated-products">
    <div class="container">
        <h3 class="featured-title">
            <span>
                RELEATED <span>PRODUCTS</span>
            </span>
        </h3>
        <div class="featured-slider yt-content-slider" data-autoplay="yes" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4" data-items_column1="4" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product7.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale red-right">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product9.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale red-right">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product4.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale blue-left">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product1.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product1.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //RELEATED PRODUCTS -->
<!-- UP-SELL PRODUCTS -->
<div class="featured-products up-sell-products">
    <div class="container">
        <h3 class="featured-title">
            <span>
                UP-SELL <span>PRODUCTS</span>
            </span>
        </h3>
        <div class="featured-slider yt-content-slider" data-autoplay="yes" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4" data-items_column1="4" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product2.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale red-right">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product3.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale red-right">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product4.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="label-sale blue-left">SALE</span>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product1.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product-box">
                    <div class="product-image">
                        <a href="detail.html" class="c-img link-product">
                            <img src="~/images/catalog/demo/products/product1.jpg" class="img-responsive">
                        </a>
                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">Curabitur turpis orci</a></h4>
                        <div class="price">
                            $115.00 <span class="price-old">$142.00</span>
                        </div>
                        <div class="rating">
                            <div class="rating-box">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-1x"></i>
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="wishlist-btn smooth" onclick="window.location.href='compare.html'">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                        </button>
                        <button class="add-to-cart smooth" onclick="window.location.href='cart.html'">
                            ADD TO CART
                        </button>
                        <button class="wishlist-btn smooth" onclick="window.location.href='wishlist.html'">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*<script type="text/javascript" src=" ~/Test/js/lightslider/lightslider.js"></script>*@
    <script type="text/javascript" src="~/Test/js/quickview/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="~/Test/js/slick-slider/slick.js">
    </script>
    <script>
        $(document).ready(function() {
            $("#btnReview").click(function (e) {
                e.preventDefault();
                var name = $("#txt_review_name").val();
                var text = $("#txt_review_text").val();
                var id = $("#txtid").val();
                if (name === null || text === null) {
                    alert("Thiếu dữ liệu");
                }
                else {
                    $.ajax({
                        url: "/Home/Review",
                        type: "post",
                        data: { "id": id, "name": name, "review": text },
                        success: function(data) {
                            if (data === "Vui lòng đăng nhập để review") {
                                alert(data);
                            } else {
                                alert(data);
                                location.href = "@Url.Action("Index", "Home")";
                            }
                        },
                        error: function(data) {
                            alert("Error: " + data);
                        }
                    });
                }
            });
        });
        @*$("#btnReview").click(function(e) {
            e.preventDefault();
            var id = @Context.Session.GetString("_Id");
            var name = $("#txt_review_name").val();
            var text = $("#txt_review_text").val();
            alert(id);
            if (id === null) {
                alert("Lỗi đăng nhập");
            } else if (name === null || text === null) {
                alert("Thiếu dữ liệu");
            } else {
                $.ajax({
                    url: "/Home/Review",
                    type: "post",
                    data: { "id": id, "name": name, "review": text },
                    success: function(data) {
                        if (data === "Vui lòng đăng nhập để review") {
                            alert(data);
                        } else {
                            alert(data);
                            location.href = "@Url.Action("Index", "Home")";
                        }
                    },
                    error: function(data) {
                        alert("Error: " + data);
                    }
                });
            }
        });*@
    </script>
}