@model Domain.Shop.Dto.Order.OrderViewModel
@{ 
    ViewData["Title"] = "Order";
    ViewData["Name"] = "Thanh toán";
    ViewData["Controller"] = "Thanh Toán";
    ViewData["Action"] = "Danh sách sản phẩm";
    Layout = "LayoutKH2";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="TabThongTinTaiKhoan">
            <partial name="_PartialThongTinTaiKhoan" />
        </div>
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="text-left">Product Name</td>
                            <td class="text-left">Model</td>
                            <td class="text-left">Quantity</td>
                            <td class="text-right">Unit Price</td>
                            <td class="text-right">Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ShoppingCart.cartProducts)
                        {
            <tr>
                <td class="text-left"> <a>@item.Product.ProductName</a></td>
                <td class="text-left">@item.Product.ProductTypeName</td>
                <td class="text-left"> @item.Quantity </td>
                <input class="ProductPriceOrder" type="hidden" value="@item.Product.PriceAfter.GetValueOrDefault()" />
                <td class="text-right ProductPriceOrderVn"></td>
                <input class="TotalProductPriceOrder" type="hidden" value="@((item.Quantity * item.Product.PriceAfter.GetValueOrDefault()))" />
                <td class="text-right TotalProductPriceOrderVn"></td>
            </tr>
}
                    </tbody>
                </table>
                <p id="ToTalOrder"></p>
                <p id="ToTalQuantity"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        $(document).ready(function () {
            function refeshThongTinTaiKhoan() {
                $("#TabThongTinTaiKhoan").html('Loading ...');
                $.ajax({
                    url: '/Order/TabThongTinTaiKhoan/',
                    type: 'POST'
                }).done(function (ketqua) {
                    setTimeout(function () {
                        $("#TabThongTinTaiKhoan").html(ketqua);
                    }, 500);
                });
            }
            $("#btnCapNhat").click(function (e) {
                e.preventDefault();
                var customerId = $("[name='CustomerId']").val();
                var fullName = $("[name='FullName']").val();
                var address = $("[name='Address']").val();
                var district = $("[name='District']").val();
                var province = $("[name='Province']").val();
                var email = $("[name='Email']").val();
                var phoneNo = $("[name='PhoneNo']").val();
                alert(customerId + fullName + address + district + province + email);
                var newData = {
                    "Id": customerId,
                    "FullName": fullName,
                    "Address": address,
                    "District": district,
                    "Province": province,
                    "Email": email,
                    "PhoneNo": phoneNo
                }
                $.ajax({
                    url: '/api/Order/CapNhatNguoiDung/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newData),
                    success: function (data, status) {
                        alert(data);
                        refeshThongTinTaiKhoan();
                    },
                    error: function (html, status, error) {
                        console.log('the request is ' + error);
                    }
                });
            });
            $('.ProductPriceOrder').each(function () {
                var value = $(this).val();
                $(this).next().text(value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' VNĐ');
            });
            var grandTotal = 0;
            $('.TotalProductPriceOrder').each(function () {
                var value = $(this).val();
                grandTotal += parseInt($(this).val());
                $(this).next().text(value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' VNĐ');
            });
            $('#ToTalOrder').html('Tổng giá tiền : ' + grandTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' VNĐ');
            var bla3 = @Model.ShoppingCart.Total;
            $('#ToTalQuantity').html('Tổng số lượng : ' + bla3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
        });
    </script>

}