@model IEnumerable<Domain.Shop.Dto.Products.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Name"] = "Trang chủ";
    ViewData["Controller"] = "Trang chủ";
    ViewData["Action"] = "Danh sách sản phẩm";
}

<div class="product-list">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 col-md-3 aside-left">
                <span class="close-aside-left"><i class="fa fa-times" aria-hidden="true"></i></span>
                <div class="aside-filter">
                    <h3 class="aside-title">SHOP BY</h3>
                    <form class="filter-category">
                        <div class="filter-box">
                            <h4 class="filter-box-title">CATEGORY</h4>
                            <div class="fillter-category">
                                @await Component.InvokeAsync("ProductCategory")
                            </div>
                        </div>
                        <div class="filter-box">
                            <h4 class="filter-box-title">price</h4>
                            <fieldset class="filter-price">
                                <div class="price-wrap">
                                    <div class="price-container clearfix">
                                        <div class="price-wrap-1">
                                            <label for="one">$</label>
                                            <input id="one">
                                        </div>
                                        <div class="price-wrap-2">
                                            <label for="two">$</label>
                                            <input id="two">
                                        </div>
                                        <button type="button" class="hv-border-inline btn btn-warning" onclick="SearchByPrice()">SEARCH</button>
                                    </div>
                                </div>
                                <div class="price-field">
                                    <input type="range" min="0" max="999" value="0" id="lower">
                                    <input type="range" min="0" max="999" value="999" id="upper">
                                </div>

                            </fieldset>
                        </div>
                    </form>
                </div>
            </aside>
            <div class="col-lg-9 col-md-9">
                <div class="product-filter-top">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8 col-xs-12 form-inline">
                            <div class="form-group sort-by">
                                <label class="control-label">Sort-by</label>
                                <select class="form-control sort">
                                    <option>Position Asc</option>
                                    <option>Position Desc</option>
                                    <option>Name (A - Z)</option>
                                    <option>Name (Z - A)</option>
                                    <option>Price (Low > High)</option>
                                    <option>Price (High > Low)</option>
                                    <option>Rating (Highest)</option>
                                    <option>Rating (Lowest)</option>
                                </select>
                            </div>
                            <div class="form-group sort-by">
                                <label class="control-label">Show</label>
                                <select class="form-control target">
                                    <option>16</option>
                                    <option>10</option>
                                    <option>25</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="sidebar-overlay"></div>
                            <div class="list-view">
                                <button type="button" class="sidebar-toggle-btn"><i class="fa fa-align-left" aria-hidden="true"></i>SIDEBAR</button>
                                <button type="button" id="table-view" class="active">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="list-view">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list-view">
                    <div class="row" id="list-product">
                        @foreach (var item in Model)
                        {
                        <div class="product-layout product-layout-table col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12">
                            <div class="product-box clearfix">
                                <div class="product-image">
                                    <a  class="c-img link-product">
                                        @if (item.DisplayImages.Any())
                                        {
                            <img src="~/imageUpload/@item.DisplayImages[0]" class="img-responsive" alt="" height="250"> }
                        else
                        {
                            <img src="#" class="img-responsive" alt="" height="250">}
                                        </a>
                                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h4 class="product-name"><a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id" class="smooth" title="">@item.ProductName</a></h4>
                                        <div class="price">
                                           $ @item.Price<span class="price-old">$142.00</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-box">
                                                @if (item.Star != null)
                                                {
                                                    @for (int i = 0; i < Math.Round(Convert.ToDecimal(item.Star)); i++)
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i>
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                    @for (int i = 5; i > Math.Round(Convert.ToDecimal(item.Star)); i--)
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i>
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            @item.Description
                                        </div>
                                    </div>
                                    <div class="button-group">
                                        <a class="btn btn-warning" style="height: 45px; line-height: 35px; width: 268px; " onclick="AddToCart('@item.Id')"> ADD TO CART</a>
                                    </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="product-filter-top">
                    <div class="row">
                        <div class="col-lg-6 col-sm-8 col-xs-12 form-inline">
                            <div class="form-group sort-by">
                                <label class="control-label">Sort assby</label>
                                <select class="form-control">
                                    <option>Position</option>
                                    <option>Name (A - Z)</option>
                                    <option>Name (Z - A)</option>
                                    <option>Price (Low > High)</option>
                                    <option>Price (High > Low)</option>
                                    <option>Rating (Highest)</option>
                                    <option>Rating (Lowest)</option>
                                </select>
                            </div>
                            <div class="form-group sort-by">
                                <label class="control-label">Show</label>
                                <select class="form-control target">
                                    <option>16</option>
                                    <option>10</option>
                                    <option>25</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-4 col-xs-12">
                            <ul class="pagination">
                                <li class="active">
                                    <span>1</span>
                                </li>
                                <li>
                                    <a href="#" class="smooth" title="">2</a>
                                </li>
                                <li>
                                    <a href="#" class="smooth" title="">3</a>
                                </li>
                                <li>
                                    <a href="#" class="smooth" title="">>|</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{

    <!-- page script -->
    <script>

        $(".target").change(function () {
        $.ajax(
        {
            type: "GET",
            url: '@Url.ActionLink("GetProducts", "Home")',
            data: {
                value: $(".target").val()
            },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            error: function (result) {
                debugger;
                alert("error");
            },
            success: function (result) {

                $("div").remove(".product-layout");
                if (result != null) {
                    $.each(result.data, function (index, value) {
                        var star = "";
                        if (value.star != null)
                        {
                            for (let i = 0; i < Math.floor(value.star); i++)
                                {
                                star += "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                }
                            for (let i = 5; i > Math.floor(value.star); i--)
                                {
                                    star += "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                }
                            }
                            else
                           {
                            star = "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                        }
                        
                        $('#list-product').append(`<div class="product-layout product-layout-table col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12">
                                <div class="product-box clearfix">
                                    <div class="product-image">
                                        <a href="detail.html" class="c-img link-product">
                                                <img src="/imageUpload/${value.displayImages[0]}" class="img-responsive" alt="" height="250">
                                        </a>
                                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">${value.productName}</a></h4>
                                        <div class="price">
                                            ${value.price} <span class="price-old">$142.00</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-box">
                                             ${star}
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                           ${value.description}
                                        </div>
                                    </div>
                                    <div class="button-group">
                                       <a class="btn btn-warning" style="height: 45px; line-height: 35px; width: 268px; "
                                href="/Cart/AddToShoppingCart/${value.id}"> ADD TO CART</a>
                                    </div>
                                </div>
                            </div>`);
                    })
                }
                else {
				    alert("Không tìm thấy");
                }
            }
        });
        });

        function FilterByCategory(categoryName) {

            $.ajax(
            {
                type: "GET",
                url: '@Url.ActionLink("Filter", "Home")',
                data: {
                    CategoryName: categoryName
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    $("div").remove(".product-layout");
                    if (result != null) {
                        $.each(result.data, function (index, value) {
                            var star = "";
                            if (value.star != null) {
                                for (let i = 0; i < Math.floor(value.star); i++) {
                                    star += "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                }
                                for (let i = 5; i > Math.floor(value.star); i--) {
                                    star += "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                }
                            }
                            else {
                                star = "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                    "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                    "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                    "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                    "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                            }
                            $('#list-product').append(`<div class="product-layout product-layout-table col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12">
                                <div class="product-box clearfix">
                                    <div class="product-image">
                                        <a href="detail.html" class="c-img link-product">
                                                <img src="/imageUpload/${value.displayImages[0]}" class="img-responsive" alt="" height="250">
                                        </a>
                                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">${value.productName}</a></h4>
                                        <div class="price">
                                            ${value.price} <span class="price-old">$142.00</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-box">
                                               ${star}
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                           ${value.description}
                                        </div>
                                    </div>
                                    <div class="button-group">
                                       <a class="btn btn-warning" style="height: 45px; line-height: 35px; width: 268px; "
                                href="/Cart/AddToShoppingCart/${value.id}"> ADD TO CART</a>

                                    </div>
                                </div>
                            </div>`);


                        })
                    }
                    else {
                        alert("Không tìm thấy");
                    }
                }
        });

        }
        function SearchByPrice() {
            $.ajax(
                {
                    type: "GET",
                    url: '@Url.ActionLink("SearchByPrice", "Home")',
                    data: {
                        min: $("#one").val(),
                        max: $("#two").val()
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        $("div").remove(".product-layout");
                        if (result != null) {
                            $.each(result.data, function (index, value) {
                                var star = "";
                                if (value.star != null) {
                                    for (let i = 0; i < Math.floor(value.star); i++) {
                                        star += "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                    }
                                    for (let i = 5; i > Math.floor(value.star); i--) {
                                        star += "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                    }
                                }
                                else {
                                    star = "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                        "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                        "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                        "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                        "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                                }
                                $('#list-product').append(`<div class="product-layout product-layout-table col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12">
                                <div class="product-box clearfix">
                                    <div class="product-image">
                                        <a href="detail.html" class="c-img link-product">
                                                <img src="/imageUpload/${value.displayImages[0]}" class="img-responsive" alt="" height="250">
                                        </a>
                                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">${value.productName}</a></h4>
                                        <div class="price">
                                            ${value.price} <span class="price-old">$142.00</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-box">
                                                 ${star}
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                           ${value.description}
                                        </div>
                                    </div>
                                    <div class="button-group">
                                       <a class="btn btn-warning" style="height: 45px; line-height: 35px; width: 268px; "
                                href="/Cart/AddToShoppingCart/${value.id}"> ADD TO CART</a>
                                    </div>
                                </div>
                            </div>`);


                            })
                        }
                        else {
                            alert("Không tìm thấy");
                        }
                    }
                });
        }
        $(".sort").change(function () {
        $.ajax(
        {
            type: "GET",
            url: '@Url.ActionLink("SortProducts", "Home")',
            data: {
                value: $(".sort").val()
            },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            error: function (result) {
                debugger;
                alert("error");
            },
            success: function (result) {

                $("div").remove(".product-layout");
                if (result != null) {
                    $.each(result.data, function (index, value) {
                        var star = "";
                        if (value.star != null) {
                            for (let i = 0; i < Math.floor(value.star); i++) {
                                star += "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                            }
                            for (let i = 5; i > Math.floor(value.star); i--) {
                                star += "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                            }
                        }
                        else {
                            star = "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star fa-stack-1x'></i> <i class='fa fa-star-o fa-stack-1x'></i></span>" +
                                "<span class='fa fa-stack'> <i class='fa fa-star-o fa-stack-1x'></i></span>";
                        }
                        $('#list-product').append(`<div class="product-layout product-layout-table col-lg-4 col-md-4 col-sm-6 col-xs-6 col-12">
                                <div class="product-box clearfix">
                                    <div class="product-image">
                                        <a href="detail.html" class="c-img link-product">
                                                <img src="/imageUpload/${value.displayImages[0]}" class="img-responsive" alt="" height="250">
                                        </a>
                                        <a class="smooth quickview iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" target="_self" data-fancybox-type="iframe">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h4 class="product-name"><a href="detail.html" class="smooth" title="">${value.productName}</a></h4>
                                        <div class="price">
                                            ${value.price} <span class="price-old">$142.00</span>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-box">
                                             ${star}
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                           ${value.description}
                                        </div>
                                    </div>
                                    <div class="button-group">
                                       <a class="btn btn-warning" style="height: 45px; line-height: 35px; width: 268px; "
                                href="/Cart/AddToShoppingCart/${value.id}"> ADD TO CART</a>
                                    </div>
                                </div>
                            </div>`);
                    })
                }
                else {
				    alert("Không tìm thấy");
                }
            }
        });
        });
         function AddToCart(id) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.ActionLink("AddToShoppingCart", "Cart")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        alert("Bạn đã thêm vào giỏ hàng !");
                    }
                    else {
						alert("Có lỗi xảy ra, vui lòng thử lại sau!");
                    }
                }
            });

        }
    </script>
   
}
