@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>Nội thất Sài Thành - Website chuyên về nội thất</title>
    <meta charset="utf-8">
    <meta name="keywords" content="html template, furniture html template, interior html template, furniture & interior html template, best html template, best furniture template, best furniture theme, furniture theme, theme for furniture" />
    <meta name="description" content="Furnicom is an awesome premium HTML template for any kind of online store, especially for furniture, interior, decoration, design studio and more. Quickly & easily build your website just by some clicks." />
    <meta name="author" content="Smartaddons">
    <meta name="robots" content="index, follow" />
    <!-- Mobile specific metas
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="~/favicon.ico" />
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Test/css/bootstrap/css/bootstrap.min.css">
    <link href="~/Test/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Test/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Test/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="~/Test/js/owl-carousel/owl.theme.default.min.css"> -->
    <link href="~/Test/css/themecss/lib.css" rel="stylesheet">
    <link href="~/Test/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Test/js/minicolors/miniColors.css" rel="stylesheet">
    <!-- Theme CSS
    ============================================ -->
    <link href="~/assets/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/Test/css/themecss/so_sociallogin.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="~/Test/css/themecss/so-newletter-popup.css" rel="stylesheet">
    <link href="~/Test/css/footer/footer1.css" rel="stylesheet">
    <link href="~/Test/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="~/Test/css/theme.css" rel="stylesheet">
    <link href="~/Test/css/responsive.css" rel="stylesheet">
    <link href="~/Test/css/quickview/quickview.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <!-- Google web fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Roboto Mono', monospace;
            font-weight: 500;
            font-size: 14px;
        }

        .show-more-text-view-p {
            cursor: pointer;
            color: #444;
            padding: 10px;
            margin-bottom: 30px;
            font-size: 14px;
        }

        .summary {
            width: 700px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        /* HIDE RADIO */
        [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

            /* IMAGE STYLES */
            [type=radio] + img {
                border-radius: 50%;
                border: 2px solid transparent;
                padding: 1px;
                cursor: pointer;
            }

            /* CHECKED STYLES */
            [type=radio]:checked + img {
                border-radius: 50%;
                border: 2px solid #5dca38;
                padding: 1px;
            }

        .form-group label {
            display: inline-block;
            margin-bottom: .5rem;
        }

        .modal-content .modal-header {
            border-bottom: none;
            padding-top: 24px;
            padding-right: 24px;
            padding-bottom: 0;
            padding-left: 24px;
        }

        .active-rp {
            background-color: #ff4f57;
            color: white;
            border: none;
        }

        .rp-tt {
            padding-bottom: 8px;
        }

        .info-txt {
            padding: 5px 27px;
            border-radius: 3px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
        }

        .text-rp {
            border-radius: 3px;
            border: 1px solid #ddd;
        }

        .btn-rp-order, .btn-rp-order-child {
            align-items: center;
            border: 1px solid #dddfe2;
            border-radius: 20px;
            display: inline-flex;
            margin-bottom: 8px;
            margin-right: 8px;
            padding: 8px 12px;
            -webkit-user-select: none;
        }

        .warning-rp {
            font-size: 14px;
            line-height: 16px;
            border-radius: 3px;
            border-top: 1px solid #dddfe2;
            color: #90949c;
            padding: 12px 16px;
            border-bottom: 1px solid #dddfe2;
        }

        .wrap-btn-rp, .additon-info {
            padding: 5px 10px 5px 10px;
        }

        .db-new-header .search {
            text-align: center;
            display: inline-block;
            position: relative;
            margin-top: 5px;
        }

        .rf {
            padding-bottom: 10px;
        }

        .search {
            width: 100%;
            margin-bottom: 0 !important;
            position: relative;
        }

        .db-new-content {
            min-height: 800px;
            margin-top: 30px;
            box-sizing: border-box;
        }

        .db-new-filters {
            position: relative;
            box-sizing: border-box;
        }

            .db-new-filters .tabs {
                border-bottom: 1px #ddd solid;
                position: relative;
            }

                .db-new-filters .tabs li {
                    display: inline-block;
                    margin-left: 11px;
                    -webkit-transition: left .3s;
                    transition: left .3s;
                }

        .db-new-header .search input[type=search], .db-new-header .search input[type=text] {
            background: 0 0;
            width: 170px;
            padding: 7px 3px;
            font-size: 14px;
            border: 0;
            float: right;
            border-bottom: 1px solid #ddd;
            border-radius: 0;
            -webkit-transition: border-color .2s,width .2s;
            transition: border-color .2s,width .2s;
        }

        .btn-search {
            padding: 11px;
        }

        .db-new-filters a:hover, .db-new-filters a:focus {
            color: #ff4f57;
        }

        .tab-content > .active {
            display: block;
        }

        .tab-content.fade.in {
            opacity: 1;
        }

        .db-new-header h1 {
            font-size: 32px;
            font-weight: 300;
            line-height: 120%;
        }

        .tab-content.db-new-main-table.table tr {
            background: #ffffff;
        }

        .tab-content.db-new-main-table.table > .tab-content.db-new-main-table thead > .tab-content.db-new-main-table tr > .tab-content.db-new-main-table th {
            width: 150px;
        }

        .tab-content.db-new-main-table.table > .tab-content.db-new-main-table thead > .tab-content.db-new-main-table tr > .tab-content.db-new-main-table th {
            border-bottom: none;
            color: #ff4f57;
        }

        .tab-content.db-new-main-table.table tr {
            background: #ffffff;
        }

        .product-list .aside-filter .filter-box .price-wrap-1, .product-list .aside-filter .filter-box .price-wrap-2 {
            border: 1px solid #ddd;
            padding: 3px 5px 2px 5px;
            float: left;
            margin-right: 10px;
            min-width: 100px;
            min-height: 35px;
            margin-bottom: 10px;
        }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .or-seperator {
            margin-top: 32px;
            text-align: center;
            border-top: 1px solid #e0e0e0;
        }

            .or-seperator b {
                color: #666;
                padding: 0 8px;
                width: 30px;
                height: 30px;
                font-size: 13px;
                text-align: center;
                line-height: 26px;
                background: #fff;
                display: inline-block;
                border: 1px solid #e0e0e0;
                border-radius: 50%;
                position: relative;
                top: -15px;
                z-index: 1;
            }

        .clearfix::after {
            display: block;
            clear: both;
            content: "";
        }

        .social-btn .facebook-btn {
            background: #507cc0;
        }

        .social-btn .twitter-btn {
            background: red;
        }

        .modal-login .btn-primary, .modal-login .btn-primary:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
            margin-top: 45px;
        }

        .modal-login .form-control, .modal-login .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .modal-login .form-control, .modal-login .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 40px;
            padding: .375rem .75rem;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .modal-login .modal-footer {
            background: #ecf0f1;
            border-color: #dee4e7;
            text-align: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .modal-footer {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: .75rem;
            border-top: 1px solid #dee2e6;
            border-bottom-right-radius: calc(.3rem - 1px);
            border-bottom-left-radius: calc(.3rem - 1px);
        }

        .modal-login .modal-footer a {
            color: #999;
        }

        .modal-footer > * {
            margin: .25rem;
        }

        .hint-text {
            text-align: center;
            margin-bottom: 15px;
            font-size: 13px;
        }

        .social-btn .btn, .social-btn .btn:hover {
            color: #fff;
            margin: 0;
            padding: 0 !important;
            font-size: 13px;
            border: none;
            transition: all 0.4s;
            text-align: center;
            line-height: 34px;
            width: 47%;
            text-decoration: none;
        }

        #lightbox .modal-content {
            width: auto;
            display: inline-block;
            text-align: center;
        }

        #lightbox .close {
            opacity: 1;
            color: rgb(255, 255, 255);
            background-color: rgb(25, 25, 25);
            padding: 5px 8px;
            border-radius: 30px;
            border: 2px solid rgb(255, 255, 255);
            position: absolute;
            top: -15px;
            right: -55px;
            z-index: 1032;
        }

        #lightbox {
            background-color: #000000f0;
        }

        .headertext {
            font-weight: 500;
        }

        #labelName {
            font-size: 18px;
        }

        #labelCode {
            font-size: 18px;
            font-style: italic;
        }

        #labelPrice {
            font-size: 18px;
            background: #28a7452b;
            padding: 2px;
            border: 1px solid;
            border-radius: 4px;
            border-color: #f2f2f2;
        }

        .textsize {
            display: flex;
            font-size: 14px;
            padding: 10px;
            background: beige !important;
        }
    </style>
</head>
<body class="commpn-here res layout-1">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=370940757493075&autoLogAppEvents=1" nonce="5Q9A2Zwf"></script>
    <div id="wrapper" class="wrapper-fluid banner-effect-3">
        <header class="typeheader-1">
            <!-- HEADER TOP -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-9">
                            <div class="header-user">
                                <ul>
                                    <li>
                                        <a asp-action="ThongTinTaiKhoan" asp-controller="TaiKhoan" asp-area="" class="smooth" title="">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Tài khoản 
                                        </a>
                                        <input type="hidden" id="iddangnhap" value="@Context.Session.GetString("_Name")"/>
                                    </li>
                                    <li>
                                        <a asp-action="ShoppingCart" asp-controller="Cart" asp-area="" class="smooth" title="">
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                            Giỏ hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="HomeOrder" asp-controller="Order" asp-area="" class="smooth" title="">
                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                            Thanh toán
                                        </a>
                                    </li>
                                    @await Component.InvokeAsync("Account")
                                    @if (Context.User.Identity.IsAuthenticated && User.Identity.Name == "admin")
                                    {
                                        <li>
                                            <a asp-area="Administrator" asp-controller="Default" asp-action="Index" class="smooth" title="">
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                Quản trị
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-3">
                            <div class="header-hotline">
                                <div class="item">
                                    <p>
                                        <a href="/Chat" class="smooth" title="">
                                            Start
                                            <span>LIVE CHAT</span>
                                        </a>
                                    </p>
                                </div>
                                <div class="item">
                                    <p>
                                        <span class="hidden-md">Call our customer service at:</span> <a href="tel:096-999-8386" class="smooth" title=""><span>096-999-8386</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //HEADER TOP -->
            <!-- HEADER CENTER -->
            <div class="header-center">
                <div class="container">
                    <div class="logo">
                        <a href="/trangchu.html" class="" title="">
                            <img src="~/Test/image/catalog/demo/logo/Nội Thất Sài Thành.jpg" alt="">
                        </a>
                    </div>
                    <div class="search-form">
                        <button type="button" class="smooth search-form-btn"><i class="fa fa-search"></i></button>
                        <form action="#" method="post">
                            <div class="icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="keyword" placeholder="Enter your keyword...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="shipping">
                        <img src="~/Test/image/catalog/demo/header/shipping-bg.png" alt="">
                        <div class="shipping-info">
                            <h6 class="shipping-title">Everyday Free Shipping</h6>
                            <p class="shipping-desc">& No Sales Tax</p>
                        </div>
                    </div>
                    <div class="cart">
                        <a asp-action="ShoppingCart" asp-controller="Cart" class="smooth cart-box dropdown-toggle" title="" data-toggle="dropdown">
                            <img src="~/Test/image/catalog/demo/header/cart.png" class="cart-image" alt="">
                            <p class="quantity"><span id="itemCount">0</span> item(s) </p>
                            <p class="quantity"><span id="itemPrice">0</span> VND </p>
                            <p class="cart-title">MY CART</p>
                        </a>
                        @await Component.InvokeAsync("CartInLayout")
                    </div>
                </div>
            </div>
            <!-- //HEADER CENTER -->
            <!-- HEADER BOTTOM -->
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-left">
                        <div class="header-menu">
                            <div class="megamenu-style-dev megamenu-dev">
                                <div class="responsive">
                                    <nav class="navbar-default">
                                        <div class="container-megamenu-horizontal">
                                            <div class="nav-bar-header">
                                                <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle smooth">
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="megamenu-wrapper">
                                                <span id="remove-megamenu"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container1">
                                                        <ul class="megamenu clearfix" data-transition="fade" data-animationtime="500">
                                                            <li class="full-width menu-home">
                                                                <a href="index.html" class="smooth cleafix" title="">
                                                                    <i class="fa fa-home"></i>
                                                                </a>
                                                            </li>

                                                            @await Component.InvokeAsync("Category")


                                                            <li class="full-width menu-dinning with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="smooth cleafix" title="">
                                                                    BLOG
                                                                    <b class="caret"></b>
                                                                </a>
                                                                <div class="sub-menu">
                                                                    <div class="content">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="html">
                                                                                    <div class="row">
                                                                                        @await Component.InvokeAsync("BlogCategory")


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="menu-hot-deals">
                                                                <a href="#" class="smooth" title>HOT DEALS</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom-right">
                        <ul>
                            <li>
                                <a href="#" class="smooth" title>
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="smooth" title>
                                    <i class="fa fa-wifi" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="smooth" title>
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="smooth" title>
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="smooth" title>
                                    <i class="fa fa-podcast" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //HEADER BOTTOM -->
        </header>
        <!-- //HEADER CONTAINER -->
        @await Component.InvokeAsync("HomeSlider")
        @RenderBody()
        <!-- FOOTER -->
        <footer class="typefooter-1">
            <!-- NEWLETTER -->
            <div class="newletter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 newletter-left">
                            <h4 class="new-letter-title">NEED HELP? CALL OUR AWARD-WINNING </h4>
                            <p>SUPPORT TEAM 24/7 AT <a href="tel:(844)555-8386">(844) 555-8386</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 newletter-right">
                            <form action="#" method="post" class="send-letter form-inline">
                                <div class="form-group form-box">
                                    <input type="text" name="email" placeholder="Enter your email address" class="form-control">
                                    <button type="submit" class="form-control">SUBSCRIBE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //NEWLETTER -->
            <div class="footer-box">
                <!-- FOOTER MIDDLE -->
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-middle-box">
                                    <h3 class="footer-title">our service</h3>
                                    <ul class="footer-list">
                                        <li>
                                            <a href="#" class="smooth" title>Delivery Information</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>Returns</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>Shipping & Refund</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>Specials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-middle-box">
                                    <h3 class="footer-title">Extras</h3>
                                    <ul class="footer-list">
                                        <li>
                                            <a href="#" class="smooth" title>Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>return</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>special</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>brands</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>gift voucher</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-middle-box">
                                    <h3 class="footer-title">my account</h3>
                                    <ul class="footer-list">
                                        <li>
                                            <a href="#" class="smooth" title>my order</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>My credit slips</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>My addresses</a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title>My personal info</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="footer-middle-box footer-middle-right">
                                    <h3 class="footer-title">contact us</h3>
                                    <ul class="contact-list">
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>828 Sư Vạn Hạnh Phường 13 Quận 10 TPHCM
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:(91)-2613023333">0938751116</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:khoitedu99@gmail.com">khoitedu99@gmail.com</a>
                                        </li>
                                    </ul>
                                    <div class="payment">
                                        <img src="~/Test/image/catalog/demo/footer/paymen.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //FOOTER MIDDLE -->
                <!-- FOOTER BOTTOM -->
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-bottom-left">
                                    <h6 class="footer-bottom-title">
                                        Tải ứng dụng
                                    </h6>
                                    <a href="#" class="d-inline-block">
                                        <img src="~/Test/image/catalog/demo/logo/rsz_nội_thất_sài_thành_.png" style="width: 25px;margin-right: 20px;" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-bottom-right">
                                    <h6 class="footer-bottom-title">
                                        Theo dõi chúng tôi
                                    </h6>
                                    <ul class="footer-social">
                                        <li>
                                            <a href="#" class="smooth" title="">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title="">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title="">
                                                <i class="fa fa-wifi" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title="">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="smooth" title="">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="copyright text-center">
                                    Đồng thiết kế và là công ty con của <a href="https://thaicong.com/vi/" target="_blank" class="smooth" title>THÁI CÔNG INTERIOR DESIGN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //FOOTER BOTTOM -->
            </div>
        </footer>
        <!-- //FOOTER -->
        <div class="back-to-top">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </div>
        @{@await Html.PartialAsync("_boxChat");}
    </div>

    <!-- End Color Scheme
    ============================================ -->
    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="~/Test/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/Test/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/Test/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/Test/js/slick-slider/slick.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/Test/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/Test/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/Test/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/Test/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/Test/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Test/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Test/js/modernizr/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="~/Test/js/minicolors/jquery.miniColors.min.js"></script>
    <script type="text/javascript" src="~/Test/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Test/js/quickview/jquery.magnific-popup.min.js"></script>
    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="~/Test/js/themejs/application.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/homepage.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/cd1.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/addtocart.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/nouislider.js"></script>
    <script type="text/javascript" src="~/Test/js/themejs/script.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.0.2/readmore.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/process_box_chat.js"></script>
    <script src="~/assets/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            var value = $('#iddangnhap').val(); 
            if (value == null || value === '') {
                $("#myModalLogin").modal();
            }
            $('#forgot').click(function() {
                $('#myModalLogin').modal('hide');
            });
            $('#myModalLogin').on('hidden.bs.modal', function () {
                $('#myModalLogin form')[0].reset();
            });
            $('#myModalRegister').on('hidden.bs.modal', function () {
                $('#myModalRegister form')[0].reset();
            });
            $('#myModalForgot').on('hidden.bs.modal', function () {
                $('#myModalForgot form')[0].reset();
            });
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                fit: true,
                closed: 'accordion',
                activate: function (event) {
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <script>
        $.post("/Cart/ItemControl",
            function (result) {
                $("#itemCount").text(result);
            })
    </script>
    <script>
        $.post("/Cart/PriceControl",
            function (result) {
                $("#itemPrice").text(result);
            })
    </script>
    <script type="text/javascript" defer="">
        $(document).ready(function() {
            function sendPostRequest(url, postData, callback) {
                $.ajax(url,
                    {
                        type: "POST",
                        dataType: "text",
                        success: callback,
                        error: function(xhr, ajaxOptions, thrownError) {
                            //alert('eerroorr');
                        }
                    });
            }

            function validateEmail(email) {
                var expr =
                    /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (!expr.test(email)) {
                    return false;
                }
                return true;
            }

            $(".order-submit").on('click',
                function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: "/Order/CheckLogin/",
                        dataType: 'json',
                        success: function(result) {
                            if (result.success === true) {
                                location.href = '@Url.Content("~/DonHang.html")';
                            } else {
                                alert(result.message);
                                location.href = '@Url.Content("~/trangchu.html")';
                            }
                        },
                        error: function(xhr, ajaxOptions, error) {
                            alert('Đã xảy ra lỗi khi thực hiện yêu cầu của bạn. Vui lòng kiểm tra và thử lại!');
                        }@*,
                        complete: function (result) {
                            if (result.message === "Không khoá") {
                                location.href = '@Url.Content("~/DonHang.html")';
                            }
                            else {
                                location.href = '@Url.Content("~/trangchu.html")';
                            }
                        }*@
                    });
                });

            function compareLargeStrings(a, b) {
                if (a.length !== b.length) {
                    return false;
                }
                return a.localeCompare(b) === 0;
            }

            $('#crBtn').click(function(e) {
                e.preventDefault();
                var name = $('#crName').val();
                var email = $('#crEmail').val();
                var password = $('#crPassword').val();
                var repassword = $('#crRePassword').val();
                var avatar = $("input[name=test]:checked").val();
                var data = {};
                data.fullName = name;
                data.email = email;
                data.password = password;
                data.avatar = avatar;

                if (name === '' || password === '' || !compareLargeStrings(password.trim(), repassword.trim())) {
                    e.preventDefault();
                    Swal.fire('Kiểm tra lại dữ liệu nhập vào', "", "error");

                    if (!validateEmail(email)) {
                        e.preventDefault();
                        Swal.fire('Email không hợp lệ', "", "error");
                    }
                } else {
                    e.preventDefault();
                    $.blockUI({ message: '<h1><img src="~/throbber.gif"/> Just a moment...</h1>' });

                    $.ajax({
                        type: 'Post',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        url: '@Url.Action("AddUser", "Auth")',

                        success: function(data) {
                            if (data.includes("thành công")) {
                                $.unblockUI();
                                Swal.fire(
                                    data,
                                    '',
                                    'success'
                                );
                                $('#closeModalBtn').click();
                                location.href = '@Url.Content("~/trangchu.html")';
                            }
                            else {
                                e.preventDefault();
                                $.unblockUI();
                                Swal.fire(data.message, "", "error");
                            }
                        },
                        error: function() {
                            $.unblockUI();
                            Swal.fire('Data sending error ...', "", "error");
                        }
                    });

                }
            });
            $('#forgotBtn').on("click",
                function(e) {
                    e.preventDefault();
                    var bla = $('#forgot-email').val();
                    var sData = {
                        email: bla
                    };
                    $.blockUI({ message: '<h1><img src="~/busy.gif" /> Just a moment...</h1>' });


                    $.ajax({
                        url: "/Auth/ForgotPassword",
                        data: sData,
                        type: "GET",
                        dataType: "json",
                        cache: false,
                        success: function(result) {
                            $.unblockUI();
                            Swal.fire(
                                result,
                                '',
                                'success'
                            );
                        },
                        error: function(jqXHR, textStatus) {
                            $.unblockUI();
                            Swal.fire('Data sending error ...', "", "error");
                        }
                    });
                });
            $('#loginBtn').click(function(e) {
                var email = $('#loginEmail').val();
                var password = $('#loginPassword').val();
                var user = {
                    Email: email,
                    Password: password
                }
                $.blockUI({ message: '<h1><img src="~/busy.gif" /> Just a moment...</h1>' });
                e.preventDefault();
                $.ajax({
                    type: 'Post',
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '/Auth/Login/' + JSON.stringify(user),
                    success: function(result) {
                        if (result.includes("thành công")) {
                            if (result.includes("quyền nhân viên bán hàng")) {
                                $.unblockUI();
                                Swal.fire(
                                    result,
                                    '',
                                    'success'
                                );
                                $('#closeModalBtn').click();
                                location.href = '@Url.Content("~/trangchuquanly.html")';
                            }
                            else {
                                $.unblockUI();
                                Swal.fire(
                                    result,
                                    '',
                                    'success'
                                );
                                $('#closeModalBtn').click();
                                location.href = '@Url.Content("~/trangchu.html")';
                            }

                        }
                        else {
                            $.unblockUI();
                            Swal.fire(result, "", "error");
                        }
                    },
                    error: function(xhr) {
                        $.unblockUI();
                        console.log(xhr.responseText);
                        Swal.fire('Data sending error ...', "", "error");
                    }
                });

            });

            $('#logoutBtn').click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/Auth/Logout',
                    success: function(result) {

                        location.reload();
                        Swal.fire(
                            result,
                            '',
                            'success'
                        );
                    }
                });
            });


        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
@if (ViewBag.ThongBao != null)
{
    <script>
        alert("@Html.Raw(ViewBag.ThongBao)");
    </script>
}
<div class="modal fade modal-login" id="myModalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Login</h4>
            </div>
            <div class="modal-body">
                <div class="login" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form>
                                <p class="hint-text">Sign in with your social media account</p>
                                <div style="text-align: center;" class="form-group social-btn clearfix">
                                    <a asp-controller="Auth" asp-action="LoginFacebook" class="btn btn-secondary facebook-btn"><i class="fa fa-facebook"></i> Facebook</a>
                                </div>
                                <div class="or-seperator"><b>or</b></div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Tài khoản" id="loginEmail" name="loginEmail" value="" title="Xin vui lòng nhập tên tài khoản" required>
                                </div>
                                <div class="form-group">
                                    <input id="loginPassword" class="form-control" name="loginPassword" value="" title="Xin vui lòng nhập mật khẩu" placeholder="Password" type="password" required>
                                </div>

                                <div class="form-group">
                                    <button id="loginBtn" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="forgot" data-toggle="modal" data-target="#myModalForgot">Forgot Password?</a>
            </div>
        </div>

    </div>
</div>
<div class="modal fade modal-login" id="myModalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Member Register</h4>
            </div>
            <div class="modal-body">
                <div class="login" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form class="register-form">
                                <div class="form-group">
                                    <input id="crName" class="form-control" type="text" placeholder="Tên" required>
                                </div>
                                <div class="form-group">
                                    <input id="crEmail" class="form-control" type="email" placeholder="E-mail address" required>
                                </div>
                                <div class="form-group">
                                    <input id="crPassword" class="form-control" type="password" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <input id="crRePassword" class="form-control" type="password" placeholder="Nhập lại password" required>
                                </div>
                                <div class="form-group">
                                    <p>Select your Avatar</p>
                                    <label>
                                        <input type="radio" name="test" value="0" checked>
                                        <img src="~/Chat/images/icons/avatar1.png">
                                    </label>

                                    <label>
                                        <input type="radio" name="test" value="1">
                                        <img src="~/Chat/images/icons/avatar2.png">
                                    </label>
                                    <label>
                                        <input type="radio" name="test" value="2">
                                        <img src="~/Chat/images/icons/avatar3.png">
                                    </label>

                                    <label>
                                        <input type="radio" name="test" value="3">
                                        <img src="~/Chat/images/icons/avatar4.png">
                                    </label>
                                </div>
                                @*<div class="checkbox">
                                        <input type="checkbox" id="chkDangKy" required oninvalid="this.setCustomValidity('Để đồng ý cần phải đồng ý với các điều khoản')" onchange="this.setCustomValidity('')"><p><a>Tôi đã đồng ý với các điều khoản khi bấm đăng ký</a></p>
                                    </div>*@
                                <div class="form-group">
                                    <button id="crBtn" class="btn btn-primary btn-lg btn-block login-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade modal-login" id="myModalForgot" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn đã quên mật khẩu?</h4>
            </div>
            <div class="modal-body">
                <div id="throbber" style="display:none;">
                    <img src="~/busy.gif" />
                </div>
                <p>Nhập đỉa chỉ E-Mail tài khoản của bạn. Chọn "Tiếp tục" để mật khẩu sẽ được gửi vào E-mail của bạn.</p>
                <div class="login-form-container">
                    <fieldset>
                        <legend>Địa chỉ E-Mail của bạn</legend>
                        <form>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                                <div class="col-sm-10">
                                    <input id="forgot-email" type="email" name="email" value="" placeholder="Địa chỉ E-Mail" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="forgotBtn" class="btn btn-primary btn-lg btn-block login-btn">Xác nhận</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>